In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [2]:
## read the dataset
df = pd.read_csv('bitcoin.csv')

In [3]:
df.head()

        Date        Price
0  5/23/2019  7881.846680
1  5/24/2019  7987.371582
2  5/25/2019  8052.543945
3  5/26/2019  8673.215820
4  5/27/2019  8805.778320

In [5]:
## remove date column
df.drop(['Date'],1,inplace=True)

<ipython-input-5-f5b5f5282231>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(['Date'],1,inplace=True)

In [6]:
df.head()

         Price
0  7881.846680
1  7987.371582
2  8052.543945
3  8673.215820
4  8805.778320

In [7]:
predictionDays = 30
# Create another column shifted 'n'  units up
df['Prediction'] = df[['Price']].shift(-predictionDays)
# show the first 5 rows
df.head()

         Price   Prediction
0  7881.846680  10701.69141
1  7987.371582  10855.37109
2  8052.543945  11011.10254
3  8673.215820  11790.91699
4  8805.778320  13016.23145

In [8]:
len(df)

367

In [13]:
# Create the independent dada set
# Here we will convert the data frame into a numpy array and drp the prediction column
x = np.array(df.drop(['Prediction'],1))
# Remove the last 'n' rows where 'n' is the predictionDays
x = x[:len(df)-predictionDays]

<ipython-input-13-a0686374d7e6>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x = np.array(df.drop(['Prediction'],1))

In [15]:
# Create the dependent data set
# convert the data frame into a numpy array
y = np.array(df['Prediction'])
# Get all the values except last 'n' rows
y = y[:-predictionDays]

In [18]:
## train test split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.2)

# set the predictionDays array equal to last 30 rows from the original data set
predictionDays_array = np.array(df.drop(['Prediction'],1))[-predictionDays:]
len(predictionDays_array)

<ipython-input-18-38a8f3025d7c>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  predictionDays_array = np.array(df.drop(['Prediction'],1))[-predictionDays:]

30

In [19]:
## SVR
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(xtrain, ytrain)

SVR(C=1000.0, gamma=1e-05)

In [20]:
## testing
svr_rbf_confidence = svr_rbf.score(xtest,ytest)
print('SVR_RBF accuracy :',svr_rbf_confidence)

SVR_RBF accuracy : -0.013788035504928242

In [32]:
from sklearn.metrics import mean_squared_error

mean_squared_error(ytest, svm_prediction)

ImportError: cannot import name 'RSME' from 'sklearn.metrics' (/Users/dheerajpranav/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/__init__.py)

In [34]:
MSE = np.square(np.subtract(ytest,svm_prediction)).mean()
MSE

2450080.3527475726

In [25]:
# print the predicted values
svm_prediction = svr_rbf.predict(xtest)
print(svm_prediction)
print()
print(ytest)

[ 8409.3386616   8546.46034961  8110.62479589  7151.96705073
  8528.90522784  8110.77769913  8098.59924532  8285.75223103
  8269.91305763  9855.5195735   8871.24934218  9634.58920582
  9163.93523965  9186.26005674  8898.54495961  9005.28955145
 10840.40807228  7759.06063342  8350.05888719  8708.7656771
  8108.72561547  8551.8458577   9030.37911096  7492.9176837
  9002.33687153  9352.10151164  8336.32265829 10513.32649734
  8951.91493134  9428.27955965  8277.59420511  7876.63741852
  7949.14251622  8688.84624129  8150.33575802  8753.22720147
  7580.21493564  9335.801022    8233.42115689  8718.80689023
  8446.79462118  9360.09588758  8988.4990568   9041.0317029
  8024.58687545  9265.59052134  8256.59056652  8251.1438963
  9034.11446683  8469.77634863 10409.65133659  7166.27415872
  8811.91374497  8343.14642034  8752.02513839  8792.47342626
  9171.1390257   7818.94147583  9659.19344428  8796.86874078
  8905.01797896 10468.51861927  8252.27191291  9198.26200219
  8910.48919548  8110.05049898 10014.35878239  9302.19761632]

[ 7200.174316  7117.20752  10185.5       6642.109863  8336.555664
 10767.13965  10311.5459   12573.8125    6191.192871 10231.74414
  9508.993164  6865.493164  9199.584961  9055.526367  8864.766602
  9522.981445 10334.97461   7410.656738  8393.041992  7344.884277
  8245.915039  9889.424805  9924.515625  7795.601074  9670.739258
  9412.612305  7269.68457   9519.145508  7275.155762  8550.760742
  9598.173828  9358.589844  7448.307617  9726.575195 10138.51758
  7679.867188  8745.894531  9729.801758  8680.875977  9870.303711
 11215.4375   11815.98633   8601.795898  8804.477539  8869.669922
 11392.37891   8118.967773 10895.83008   9757.970703  7217.427246
 10051.7041    6842.427734  7238.966797 13016.23145   8367.847656
  6429.841797  8757.788086  7556.237793 12285.95801   9341.705078
  9951.518555 10115.97559  10895.08984   7276.802734 11966.40723
  9754.422852 10343.10645  10208.23633 ]

In [35]:
# Print the model predictions for the next 30 days
svm_prediction = svr_rbf.predict(predictionDays_array)
print(svm_prediction)
print()
#Print the actual price for bitcoin for last 30 days
print(df.tail(predictionDays)['Price'])

[7579.81375261 7614.78006817 8220.63459665 9142.7013043  9218.98562447
 8356.10621414 8688.65487923 8177.5530935  7856.06318021 8085.68929566
 8043.99466324 7825.99867842 7820.96186385 8213.72059064 8131.97312895
 8105.07218091 8473.18714444 8788.70415827 8346.71076819 7823.03220474
 8091.7236757  7924.80440668 8002.9225829  8091.91096564 8090.97374268
 8091.2075543  8110.45036516 7710.47942262 7707.73878165 7705.77157335]

337    7550.900879
338    7569.936035
339    7679.867188
340    7795.601074
341    7807.058594
342    8801.038086
343    8658.553711
344    8864.766602
345    8988.596680
346    8897.468750
347    8912.654297
348    9003.070313
349    9268.761719
350    9951.518555
351    9842.666016
352    9593.896484
353    8756.430664
354    8601.795898
355    8804.477539
356    9269.987305
357    9733.721680
358    9328.197266
359    9377.013672
360    9670.739258
361    9726.575195
362    9729.038086
363    9522.981445
364    9081.761719
365    9182.577148
366    9180.045898
Name: Price, dtype: float64

In [ ]:
"Accuracy on validation-set", svr_rbf.score(xtest,df.tail(predictionDays)['Price'])

In [36]:
MSE = np.square(np.subtract(df.tail(predictionDays)['Price'],svm_prediction)).mean()
MSE

1472076.792544991